---
- name: Download and run Spring Boot jar
  hosts: all
  become: yes

  vars:
    jar_url: "https://niki-jar.s3.us-east-1.amazonaws.com/demo-0.0.1-SNAPSHOT.jar?response-content-disposition=inline&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDcaCXVzLWVhc3QtMSJGMEQCIHgFIUtAErYz4zofhvBfjAVa%2B%2FEaa8nLsvJX6hDVVrXoAiAcAjsX97fD0UXn4lIiuZjqH2JePAuq8T%2BbCHTwgu0rUiq5AwgAEAAaDDgwMzY1NDkwNTg0MiIMuB6hAAThOcJ%2BCR5iKpYDu%2F3ha%2BxoXBOd7LROStKDoT2LcgcrnuEevwY735ZX1FivPnH5ovgTY8%2F1VN5fGmW2RI9TvkTrfdfY%2BJwzqnW3QJkpn3tksCrvPjNLdd4j4pNExCD1V5q%2FOc%2Bme2f4i4mikjLpa9cOQ1p%2FGjIPF7m0rpe7b%2BWdfdOjzBDKFvRMuVwyHrHcQ5HndXb3BtoVV6Pml%2F%2Fy25XHJfJa648daikquUuA%2BaI1pKeLAOVbzpT%2FCWdr3N1X0BI2%2BrZMCqDNiOQGTFz83%2BampLKNtmY8PSntniYrK6g8cKp3WfMLThoovRtQ2KHyrxcuvax6o4vrxp%2FwtUth0mmizUEQbKLT0F1%2BK6hLZn9%2B0NHpJdQu448vsxJmk5l7A1j7qTJoYRivdkBQhd3qzM8IRlUqXZRD61QWWAALADx5EaOCW%2BDhD7hDz4JIXukcYzNEjpidOofcLcfOLWImMqLFPTCxCi6ouP406HESvmiMRK0XFMgD0sdhV6AOaxJPz%2BI1Xww%2BmYe92YUh%2FlGsAzdze%2FsmMG36U8m9xGRGmBRArTDHwbTJBjrfAr2hMC9TF1EPPwzNnJgjgunmMbz01CubfCA4D8ciEqRaIRpKZf5pv3AMThiOWUDVpxRROmXjMK0UU7NV2CawkY6g3n3Rqb%2BEIdD4Mq32x5gnjh15A7NtM4NicjLVzMLFK2pJQhPQ3PvWoEzFQDuaTMzcmHXkaUxnYdgWmQbG7ogOow90DV923qdwrQPGtAtmx%2Figtr68pXRE31nFwAiwgakm%2BB5PfOxcXClkMoX1yHJb6v1GuOx6U3wuD%2FDVLou6ncBkjiXz2TTAqxdMDCoWhmp1YgKb4ij%2BjIvUY%2BCF1y8B92OG5ruKJfC7xSWULmdrZy8ApRbB55JRnezTzodbqfgXrPvUakMlhEnyIyQC6G21KiOgUBiSv9lxcdifZRunGwJmbcLg5bahDTLsDt0u9Rc95OmjNnkZ73fREAhWCxfpBSCjJVbVtW%2FAUMw4pZ1AL1F%2B8wWlhWNzQB9SoRGxAA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA3WHMQV7ZNZLQUI4V%2F20251201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251201T143026Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=db1756b65aba481937d9798f8ecda3f61f2e59e2d4d81ee2b9e870e6f8326585"
    jar_dest: "/opt/demo/demo-0.0.1-SNAPSHOT.jar"
    java_opts: "-Xms256m -Xmx512m"
    run_dir: "/opt/demo"

  tasks:
    - name: Create app directory
      file:
        path: "{{ run_dir }}"
        state: directory
        mode: '0755'

    - name: Download jar file
      ansible.builtin.get_url:
        url: "{{ jar_url }}"
        dest: "{{ jar_dest }}"
        mode: '0755'

    - name: Run jar file in background
      ansible.builtin.shell: "nohup java -jar {{ jar_dest }} > /dev/null 2>&1 &"
      args:
        chdir: "{{ run_dir }}"
      async: 10
      poll: 0
